.button {
    /* Button adapted from Trivia problem */
    background-color: #99A7B0;
    border: 1px solid ;
    border-radius: 0.15rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    font-style: normal;
    display: block;
    width: 100px;
    margin: 0 auto;
    color: black;
    text-decoration: none;
}

.button:hover {
    text-decoration: underline;
}

.flavortext {
    color: white;
    font-family: 'Courier', normal;
    font-size: 25px;
    text-align: center;
}

.frame {
    width: 750px;
    height: 468px;
}

.img-container {
    width: 100%;
    height: 100%;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    align-items: center;
    font-family: 'Courier'
}

img {
    width: 750px;
    height: 468px;
    max-width: 100%;
    max-height: 100%;
}

hr {
    border-color: white;
    border-width: 2px;
    opacity: 1;
}

h3 {
    color: #8A8A8A;
    font-style: normal;
    font-size: 20px;
}

h2 {
    color: white;
    font-style: bold;
    font-size: 30px;
}

h1 {
    color: white;
    font-style: bold;
    font-size: 50px;
}

